body {
    padding: 50px;
}
header > img{
    height: 16%;
    width: 16%;
}
table {
    border-collapse: collapse;
}

td {
    text-align: right;
}

th {
    text-align: center;
}

td, th {
    vertical-align: middle;
    border: 1px solid black;
}
